# Binaries
btoven_c_example
btoven_c_example.exe
libbtoven.a
btoven.lib

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Visual Studio Junk
*.vcproj*
*.ncb
*.sln
*.suo
*.dir
*.idb
*.pdb
*.ilk

# Junk Files
*~
.DS_Store

# External Libraries
extern/


